<include file="Public/header" />
    <div class="comm-top">
        <div class="title-left">
            文章评论列表
        </div>
<!--         <div class="title-right">
        <form method="get" action="<{:U('member')}>">
            <input type="hidden" name="m" value="<{:MODULE_NAME}>" />
            <input type="hidden" name="c" value="<{:CONTROLLER_NAME}>" />
            <input type="hidden" name="a" value="<{:ACTION_NAME}>" />
            <input name="keywords" class="textarea search_inp" placeholder="昵称" type="text" value="<{:I('get.keywords')}>"/>
            <input value="查找" class="btn btn-success search_btn" type="submit" />
        </form>
        </div> -->
    </div>
    <div class="list-table">
        <div class="wrapper">
            <table class="stable">
                <thead>
                    <tr>
                        <th style="width:70px;">头像</th>
                        <th>昵称</th>
                        <th>内容</th>
                        <th>评论时间</th>
                        <th>IP</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <form id="discussForm">
                        <foreach name="list" item="vo">
                        <tr>
                            <td><img src="<{$vo.headimgurl|default='__PUBLIC__/admin/images/demault_head.jpg'}>" /></td>
                            <td><a href="<{:U('')}>"><{$vo.usname}></a></td>
<td><textarea readonly="readonly" style="resize:none;width:320px;height:60px;padding:0px;border:none;">内容内容那热闹热闹热内容内
容内容内容那热闹热闹热内容内容
容内容内容那热闹热闹热内容内容
容内容内容那热闹热闹热内容内容
容内容内容那热闹热闹热内容内容
那热闹热闹热 </textarea></td>
                            <td><{$vo.add_time|date="Y-m-d H:d:s",###}></td>
                            <td>192.122.1.11</td>
                            <td><a href="<{:U('article_discuss_delete?id='.$vo['id'])}>" style="font-size:12px;">删除</a></td>
                        </tr>
                    </foreach>

<!--                     <foreach name="list" item="vo">
                        <tr>
                            <td><img src="<{$vo.headimgurl|default='__PUBLIC__/admin/images/demault_head.jpg'}>" /></td>
                            <td><{$vo.nickname}></td>
                            <td><{:$vo['sex']=='2'?'女':'男'}></td>
                            <td><{$vo.province}></td>
                            <td><{$vo.city}></td>
                            <td><{$vo.subscribe_time|date="Y-m-d H:i a",###}></td>
                            <td><{:$vo['status']==1?'已关注':'已取消'}></td>
                        </tr>
                    </foreach> -->
                    </form>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-list"><{$page}></div>
<script type="text/javascript">
$(function(){
    //ajax获取用户分组
    /*$.post('list.php',{a:'get_group'},function(res){
        if(res){
            var groupStr='';
            $.each(res,function(i,n){
                groupStr+="<option value='"+n.id+"'>"+n.name+"</option>";
            });
            $('.group_select').append(groupStr);
        }
    },'json');*/
    //复选框全选全不选
    $('#checkAll').click(function(){ 
        $('input[name="openid[]"]').attr("checked",this.checked); 
    });
})
//修改备注
function edit_des(id,obj){
    $.post('list.php',{id:id,a:'edit_des',des:$(obj).val()},function(res){
        res=$.trim(res);
        if(res=='suc'){
            note_info('修改成功',obj);
        }
    });
}
//移动分组
function changeGroup(obj){
    if($('#changeSelect').val()===''){
        note_info('请选择分组',obj,'warn');return;
    }
    if($("input[name='openid[]']:checked").length==0){
        note_info('请勾选相应用户',obj,'warn');return;
    }
    var layerLoad=layer.load(1,{shade:[0.1,'#666']});
    $.post('list.php?a=changeGroup&groupId='+$('#changeSelect').val(),$("#memberForm").serialize(),function(res){
        layer.close(layerLoad);
        res=$.trim(res);
        if(res=='suc'){
            note_info('移动分组成功',obj);
            setTimeout("window.location.reload()",1200);
        }else{
            note_info('移动分组失败',obj,'warn');
        }
    });
}
</script>
<include file="Public/footer" />